# It is most likely to include content about the package
# This directory had two empty directories on my MacBook Air
OmniMarkupPreviewer/

# It is most likely to have cache
# This directory had a very long JSON file on my MacBook Air
Package Control.cache/

# This is a certificate file
Package Control.merged-ca-bundle

# It is most likely to be a certificate file
# This was an empty file on my MacBook Air
Package Control.user-ca-bundle

# This is a certificate file
oscrypto-ca-bundle.crt
